/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    color: purple;
    font-size: 24px;
    font-weight: bold;
}

.dashboard {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-details {
    margin-top: 10px;
}

.balances {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.action-button {
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #444;
}

.settings {
    margin: 20px 0;
}

.setting-button {
    display: block;
    width: 100%;
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.setting-button:hover {
    background-color: #444;
}

.signout {
    background-color: #00b894;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
}

.footer-button {
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.footer-button:hover {
    background-color: #444;
}

@media (max-width: 600px) {

    .action-button {
        
        padding: 10px 10px;
        font-size: 0.7rem;
        
    }
}